 .container {
  padding: 20px;
  background-color: #02194b;
  border-radius: 8px;
  max-width: 100%;
  width: 100%;
}

.label {
  margin-bottom: 10px;
  font-size: 18px;
}

.input {
  background-color: #fff;
  border-radius: 4px;
}

.fileInput {
  margin-bottom: 20px;
}

.image {
  border-radius: 4px;
}

/* Otros estilos según sea necesario */
